.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal_container .modal_close {
  position: absolute;
  top: 10%;
  right: 185px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.modal_container iframe {
  width: 50%;
  height: 70%;
  transition: all 0.3s;
}
.modal_container.show {
  pointer-events: all;
  opacity: 1;
}
.modal_container.show {
  pointer-events: all;
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .modal_container iframe {
    width: 70%;
  }
  .modal_container .modal_close {
    top: 5%;
    right: 85px;
  }
}
@media only screen and (max-width: 500px) {
  .modal_container iframe {
    width: 95%;
    height: 55%;
  }
  .modal_container .modal_close {
    top: 10%;
    right: 85px;
  }
  .modal {
    flex-direction: column;
  }
}
